body {
  text-align: center;
  color: white;
  background-color: #5c527f;
}

#welcome-text {
  padding-top: 7%;
  padding-bottom: 7%;
}

.score {
  padding-top: 3%;
}

.dice {
  padding: 5% 12%;
}

.btn {
  border-radius: 0px;
  margin-bottom: 10%;
}
